:root {
  --deep-green: #006400;
  --light-green: #90ee90;
}
body {
  background-color: var(--light-green);
  color: var(--deep-green);
}
.container {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.btn-primary {
  background-color: var(--deep-green);
  border-color: var(--deep-green);
}
.btn-primary:hover {
  background-color: #004d00;
  border-color: #004d00;
}
.btn-success {
  background-color: var(--deep-green);
  border-color: var(--deep-green);
}
.btn-success:hover {
  background-color: #004d00;
  border-color: #004d00;
}
.dish-card {
  height: 100%;
  border-color: var(--deep-green);
}
.card-body {
  background-color: #f0fff0;
}
.list-group-item {
  border-color: var(--deep-green);
}
h1,
h2,
h3,
h4 {
  color: var(--deep-green);
}
.back-to-home {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s;
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
}

.back-to-home:hover {
  transform: rotate(360deg);
}

.back-to-home img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
